:root{
    --color1:#774900;
    --color2:#b88450;
    --color3:#ffffff;
    --color4: #000000;
    --font1: Arial, sans-serif, Helvetica;
}

/*MENU HAMBURGUER*/
#menuToggle{
    display: inline;
    position: relative;
    top: 10%;
    left: 1%;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a{
    text-decoration: none;
    color: var(--color4);
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover{
    color: rgb(142, 65, 65);
  }
  
  #menuToggle input{
    display: inline;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0;
    z-index: 2;
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #2d2a2a;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child{
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu{
    position: absolute;
    width: 25%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background:  #b884509e;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li{
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul{
    transform: none;
  }
  *{
    margin: 0;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
  header{
    background-color: var(--color1);
    padding: 2% 3%;
    width: 100%;
    height: 2.5rem;
  }
  .paralax{
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  #banner{
    background-image: url("../Cafeteria/img/parallax-imagem1.1.png");
    display: grid;
    place-items: center;
  }
  #banner h1{
    font: normal bold 4rem arial;
    color: var(--color3);
    opacity: 50%;
    text-align: center;
  }
  #paralax2{
    background-image: url("./img/parallax-imagem2.1.jpg");
  }
  #paralax3{
    background-image: url("./img/parallax-imagem3.1.jpg");
  }
  #contato{
    background-image: url("./img/parallax-imagem4.1.png");
  }
  #horarios{
    background-image: url("./img/cafeteria.1.jpg");
  }
  section{
    margin-bottom: 10%;
    display: grid;
    place-items: center
  }
  section h2{
    font: italic bold 2.5rem arial;
    background-color: var(--color2);
    text-align: center;
    width: 100%;
    opacity: 70%;
    padding: 5%;
  }
  iframe{
    width: 100%;
  }
  section h3{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  section p{
    font: normal 1.5rem lucida;
    line-height: 2.5rem;
    text-align: justify;
    padding: 5%;
  }

  #contato h3{
    color: var(--color3);
    font-size: 3rem;
  }
  #contato div, #contato a{
    margin-top: 20px;
    background-color: var(--color1);
    color: var(--color3);
  }
  #contato a{
    padding: 5px;
    font: normal 1.3rem arial;
    display: flex;
    flex-flow: column wrap;
  }
  #horarios{
    font: normal 2rem arial;
    color: var(--color3);
    margin-bottom: 0;
  }
  ul{
    list-style: none;
  }
  #horarios li{
    padding: 3%;
  }
  .voltar{
    position: fixed;
    bottom: 1%;
    right: 1%;
    height: 10%;
    opacity: 30%;
  }

  footer{
    padding: 5%;
    background-color: var(--color4);
    color: var(--color3);
    height: 5rem;
    text-align: center;
  }
@media screen and (min-width: 451px) {

  /*MENU HAMBURGUER*/
  #menuToggle{
    display: block;
    position: relative;
    top: 10%;
    left: 1%;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a{
    text-decoration: none;
    color: var(--color4);
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover{
    color: rgb(142, 65, 65);
  }
  
  #menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0;
    z-index: 2;
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #2d2a2a;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child{
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu{
    position: absolute;
    width: 25%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background:  #b884509e;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li{
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul{
    transform: none;
  }
  *{
    margin: 0;
    box-sizing: border-box;
  }
  header{
    padding: 1%;
    background-color: var(--color1);
  }
  
  section{
    margin: 4% 0;
  }
  .paralax{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  #banner{
    background-image: url("../Cafeteria/img/parallax-imagem1.png");
    display: grid;
    place-items: center;
  }
  #banner h1{
    font: normal bold 4rem arial;
    color: var(--color3);
    opacity: 50%;
    text-align: center;
  }
  #paralax2{
    background-image: url("./img/parallax-imagem2.jpg");
  }
  #paralax3{
    background-image: url("./img/parallax-imagem3.jpg");
  }
  #contato{
    background-image: url("./img/parallax-imagem4.png");
    height: 100%;
  }
  #horarios{
    background-image: url("./img/cafeteria.jpg");
    height: 100%;
    margin: 1% 0;
  }
  footer{
    margin-bottom: 0;
  }
  .voltar{
    display: none;
  }
}